.persons-description img {
  width: 23.4895vw;
}

.person-box {
  padding: 0.3906vw;
  display: flex;
  flex-direction: column;
}

.person-box b {
  margin-top: 2.6041vw;
  font-size: 1.3020vw;
}

.person-box p {
  font-size: 1.0416vw;
  margin-top: 1.0416vw;
  width: 23.489vw;
}

.persons-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding-bottom: 5.7291vw;
}

#person1 {
  margin-top: 13.385vw;
}

#person2 {
  margin-top: 5.5729vw;
}

#person3 {
  margin-top: 12.8648vw;
}

.first {
  background: #8800ff;
  background: -webkit-linear-gradient(bottom right, #8800ff, #154bff);
  background: -moz-linear-gradient(bottom right, #8800ff, #154bff);
  background: linear-gradient(to top left, #8800ff, #154bff);
  color: white;
}

.first b {
  margin-left: 18.3854vw;
  font-size: 5.2083vw;
  font-weight: 900;
  z-index: 1;
  position: relative;
}

.first p {
  font-size: 1.0416vw;
  width: 26.9270vw;
  line-height: 2.6041vw;
  margin-top: 3.3854vw;
  margin-left: 46.25vw;
  padding-bottom: 8.75vw;
}
.step-number-margin{
  height: 13.6979vw;
}

.step-number {
  color: black;
  position: absolute;
  font-size: 16.0416vw;
  font-weight: bold;
  margin-top: 1.9791vw;
  margin-left: 15.1562vw;
  z-index: 0;
}

.second-background {
  width: 100%;
  opacity: 0.42;
  position: absolute;
  z-index: 1;
}

.second {
  background-color: black;
}

.second-step-description {
  position: relative;
  z-index: 2;
  color: white;
}

.second-step-number {
  padding-top: 6.5625vw;
  font-size: 11.6145vw;
  font-weight: bold;
  margin-left: 23.6979vw;
}

.second b {
  font-size: 4.1666vw;
  font-weight: 900;
  margin-left: 23.6979vw;
  margin-top: -4.1666vw;
}

.second p {
  font-size: 1.0416vw;
  width: 29.1666vw;
  line-height: 2.6041vw;
  margin-top: 3.3854vw;
  margin-left: 23.6979vw;
  padding-bottom: 10.4166vw;
}

.third b {
  font-size: 5.2083vw;
  font-weight: 900;
  margin-left: 18.385vw;
  position: relative;
}

.third img {
  position: absolute;
  margin-top: 9.375vw;
  margin-left: 14.3229vw;
  width: 19.0625vw;
}

.third {
  color: white;
}

.third p {
  font-size: 1.0416vw;
  width: 26.927vw;
  line-height: 2.6041vw;
  margin-top: 3.3854vw;
  margin-left: 46.25vw;
  padding-bottom: 8.75vw;
}

.third-margin{
  height: 17.0833vw;
}

* {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  .about p{
    font-size: 7px;
  }

  .persons-description b{
    font-size: 7px;
  }
}
