.button {
  color: white;
  width: 212px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  
}

.button-text {
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: normal;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-sended {
  background-color: #4eca52;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.button-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button-loading img {
  width: 25px;
  height: 25px;
}

.button-loading div {
  margin-left: 10px;
}
