footer {
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.302vw;
}

.footer-line {
  border-bottom: 1px solid white;
  width: 100%;
}

.partners {
  margin-top: 3.6vw;
}

.social img {
  width: 2.4125vw;
}

.social {
  margin-top: 2vw;
  width: 11.8229vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.copyright {
  font-size: 1.0416vw;
  margin-top: 4.8vw;
  margin-bottom: 9.7vw;
}

.footer-top {
  margin-top: 5.3125vw;
  margin-bottom: 1.3541vw;
  font-size: 0.78125vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
}

.footer-top p {
  text-decoration: underline;
}

.footer-bottom {
  margin-top: 1.875vw;
  margin-bottom: 5.20833vw;
  font-size: 0.78125vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 58%;
  color: #cccccc;
  background: black;
}

.footer-top h2 {
  display: none;
}

.footer-top * {
  padding: 0;
  margin: 0;
}

.footer-mobile-column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .footer-mobile-column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer-mobile-column p {
    margin: 0;
  }
  .footer-top {
    font-size: 5vw;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    margin-top: 8.75vw;
    margin-bottom: 0;
  }

  .footer-top h2 {
    display: inherit;
    font-size: 4.0625vw;
    font-weight: 400;
    color: white;
    padding: 0;
  }

  .footer-top p {
    margin-bottom: 3.375vw;
    justify-self: flex-end;
    font-size: 4.0625vw;
  }

  .footer-line {
    display: none;
  }

  .social img {
    height: 11.5625vw;
    width: 11.5625vw;
  }

  .social {
    margin-top: 24px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    width: 57.8125vw;
  }

  .footer-bottom {
    margin-top: 6vw;
    flex-direction: column;
    width: 70%;
    margin-bottom: 8.75vw;
  }

  .footer-bottom p{
    margin-bottom: 3.4vw;
  }

  .footer-bottom p,
  a {
    font-size: 3.125vw;
  }
}
