header {
  color: white;
  z-index: 99999999;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 108px;
  width: 100%;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
  transition: 0.2s;
}

.scrolled {
  background: rgba(0, 0, 0, 1);
}

.makeOrder {
  color: white;
  width: 212px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #003cff;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.makeOrder:hover {
  transform: scale(1.05);
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: 20.3vw;
}

.rightLinks {
  margin-left: 3.46vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.changeLocalization {
  margin: 0 4.2wv 0 0;
}

.link {
  margin-right: 5.2vw;
  text-decoration: none;
  font-weight: bold;
  color: #888888;
  font-size: 14px;
  padding: 1.5vw 0;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  padding: 30px 0;
}

.active {
  color: white;
  transform: scale(1.05);
}

.link:hover {
  color: #d1d1d1;
  transform: scale(1.05);
}


.portfolio-active {
  color: black;
}

@media screen and (max-width: 1400px) {
  nav {
    margin-left: 15.148vw;
  }

  .rightLinks {
    margin-left: 4.844vw;
  }

  .link {
    margin-right: 3.878vw;
  }
}

@media screen and (max-width: 1300px) {
  nav {
    margin-left: 10.82vw;
  }

  .rightLinks {
    margin-left: 3.46vw;
  }

  .link {
    margin-right: 2.77vw;
  }
}

@media screen and (max-width: 850px) {
  header {
    background: white;
    flex-wrap: wrap;
    height: 90px;
    align-items: flex-end;
  }

  .rightLinks {
    display: none;
  }

  nav {
    justify-content: space-between;
    margin: 0 20px;
    width: 100%;
    margin: 0;
  }

  .link {
    height: 37px;
    font-size: 9px;
    width: 100%;
    text-align: center;
    border-radius: 3px 3px 0 0;
    margin: 0;
    vertical-align: middle;
  }

  .logo {
    padding: 10px 0;
  }

  .active {
    background: white;
    color: black;
  }
}
