.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  position: relative;
}

.content {
  margin: 0;
  padding: 0;
  margin-top: 1.458vw;
  width: 63.229vw;
}

.showCases {
  text-decoration: none;
  font-size: 15px;
  color: black;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 2.6vw;
  padding-top: 1.4vw;
  text-align: center;
}

.rightColumn {
  width: 50%;
  float: right;
  padding-left: 0.52083vw;
  box-sizing: border-box;
}

.leftColumn {
  width: 50%;
  float: left;
  padding-right: 0.52083vw;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch-all-cases {
  display: flex;
  align-items: center;
}

.top-videoCase .videoCase {
  height: 23vw;
}

.left-column-first-videoCase .videoCase {
  height: 34.2vw;
}

.standart-video-case .videoCase {
  height: 17.5vw;
}

.right-column-first-videoCase .videoCase {
  height: 20.9vw;
}

.right-column-second-videoCase .videoCase {
  height: 30.8vw;
}

@media screen and (max-width: 850px) {
  .leftColumn {
    padding-right: 2.5px;
  }

  .rightColumn {
    padding-left: 2.5px;
  }

  .content {
    width: 100%;
    margin: 0;
    padding: 5px;
  }

  .top-videoCase .videoCase {
    height: 31.25vw;
  }

  .showCases {
    display: none;
  }

  .top-videoCase .videoCase {
    height: 31.25vw;
  }

  .left-column-first-videoCase .videoCase {
    height: 53.4375vw;
  }

  .standart-video-case .videoCase {
    height: 26.875vw;
  }

  .right-column-first-videoCase .videoCase {
    height: 31.5625vw;
  }

  .right-column-second-videoCase .videoCase {
    height: 48.4375vw;
  }
}
