.order-content {
  margin: 0;
  padding: 0;
  width: 63.2291vw;
  display: flex;
  flex-direction: row;
}

.order-description {
  margin-top: 2vw;
}

.order-description-2 {
  margin-top: 1.56vw;
}

.order-content p {
  padding-right: 10px;
  font-size: 1.302vw;
  line-height: 2.604vw;
  padding: 0;
  padding-right: 2.6vw;
}

.order-content h1 {
  margin-top: 4.895vw;
  font-size: 2.291vw;
}

.blue {
  color: #003cff;
  font-size: 1.66666vw;
}

.order {
  -webkit-box-shadow: 0px 0px 99px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 99px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 99px 0px rgba(0, 0, 0, 0.13);
}

.order-form p {
  color: #cccccc;
  font-size: 0.7291vw;
  line-height: normal;
  margin-top: 1.5vw;
  margin-bottom: 0.364vw;
  padding: 0;
}

.company {
  width: 32.34375vw;
  padding-left: 0;
  top: 0;
  position: sticky;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  box-sizing: border-box;
}

.company b {
  margin: 0;
  padding: 0;
  font-size: 1.45833vw;
  letter-spacing: 0.5em;
  position: relative;
  color: white;
}

.order-type-button {
  margin: 0.781vw 0.781vw 0 0;
  height: 2.448vw;
  border: #cccccc solid 1px;
  border-radius: 1.25vw;
  display: inline-block;
  cursor: pointer;
  color: #cccccc;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: 86ms;
}

.order-type-button p {
  font-size: 0.7291vw;
  text-align: center;
  position: relative;
  width: auto;
  padding: 0 1.562vw;
  margin: 0;
  line-height: 2.4479166vw;
  display: flex;
  overflow: hidden;
}

.checked {
  background-color: #003cff;
  color: white;
  border: #003cff 1px solid;
}

.order-type-button-hover {
  position: absolute;
  width: 500px;
  height: 200%;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.086s ease-in;
  background: #003cff;
}

.order-type-button:hover {
  border: #003cff 1px solid;
}

.checked p {
  color: white;
}

*::selection {
  background: rgb(224, 224, 224);
}

.input-fields {
  margin-top: 2.135vw;
  margin-right: 0.781vw;
}

.makeOrder p {
  font-size: 14px;
}

.makeOrder {
  margin-top: 3.125vw;
  margin-bottom: 3.125vw;
  width: 212px;
  height: 47px;
  border-radius: 23px;
}

.makeOrder .button {
  width: 212px;
  height: 47px;
}

.order-leftColumn h2 {
  margin-top: 94px;
}

.order-close {
  position: absolute;
  top: 1.9vw;
  cursor: pointer;
}

.blue-h {
  font-size: 2.2916vw;
  color: #003cff;
}

.order-leftColumn {
  width: 30.88vw;
  float: left;
  margin-right: 0.625vw;
  box-sizing: border-box;
}

.order-modal-children {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.order-modal-children p{
  padding: 0;
}

.order-modal-children .order-thx{
  margin-top: 30px;
  font-size: 20px;
}

.order-modal-children .order-thx2{
  font-size: 14px;
}

.order .modal {
  height: auto;
}

.order-modal-children img {
}

.order-modal-close{
  display: none;
}

@media screen and (max-width: 850px) {
  .order-modal-children .order-thx{
    margin-top: 8.125vw;
    font-size: 4.375vw;
  }
  
  .order-modal-children .order-thx2{
    margin-top: 3.125vw;
    font-size: 3.125vw;
  }
  .order .modal {
    height: 100%;
    width: 100vw;
    margin: 0;
    border-radius: 0;
  }

  .order-modal-close{
    position: absolute;
    top:10px;
    right: 10px;
    display: initial;
  }

  .order-form p {
    font-size: 3.125vw;
  }

  .order-content h2 {
    margin-top: 7.8125vw;
    font-size: 5.3125vw;
  }
  .order-close {
    top: 7.5vw;
    right: 7.5vw;
  }

  .blue-h {
    justify-self: flex-start;
    align-self: flex-start;
  }

  .blue {
    color: black;
    font-size: 0.8854vw;
    justify-self: flex-start;
    align-self: flex-start;
  }

  .order-content .company {
    display: none;
  }
  .order-content {
    width: 93.7%;
  }

  .order-content .order-description,
  .order-description-2 {
    display: none;
  }

  .order-content .order-leftColumn {
  }

  .order-type-button:hover .order-type-button-hover {
    transform: scaleX(0);
  }

  .order-type-button:hover {
    border: #003cff 2px solid;
  }

  .order-type-button p {
    font-size: 2.5vw;
    line-height: 6.25vw;
    padding: 0 3.125vw;
    color: black;
  }

  .order-type-button {
    height: 7.5vw;
    border-radius: 3.75vw;
    border: #003cff solid 2px;
    margin: 5px 5px 0 0;
  }

  .checked {
    background-color: #003cff;
    color: white;
    border: #003cff 2px solid;
  }

  .checked p {
    color: white;
  }

  .input-fields {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .order-leftColumn {
    width: 93.75vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .order {
    -webkit-box-shadow: 0px 0px 99px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 99px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 99px 0px rgba(0, 0, 0, 0);
  }

  .makeOrder {
    width: 66.25vw;
    margin-top: 9.375vw;
    margin-bottom: 9.375vw;
    align-self: center;
    display: flex;
    justify-content: center;
  }

  .input-fields .input-data{
    margin-top: 4.6875vw;
  }
}
