.portfolio-head {
  padding-top: 4.7916vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../public/portfolio-head-back.jpg");
  background-size: contain;
}

.portfolio-head h1 {
  font-size: 4.6875vw;
  margin: 0;
}

#works-amount {
  font-size: 1.0416vw;
  color: #888888;
  font-weight: 500;
  margin-top: 1.5625vw;
  margin-bottom: 3.2291vw;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 3.125vw;
  flex-wrap: wrap;
}

.filter * {
  font-size: 1.0416vw;
  width: auto;
}

.filter h3 {
  padding-left: 1.45833vw;
}

.filter table {
  margin-top: 1.666vw;
}

.filter table td {
  margin-right: 3.125vw;
}

.filter table p {
  color: #006eff;
  text-decoration: underline;
  margin: 0;
  padding: 0.520833vw 1.25vw;
  border-radius: 0.260416vw;
}

.filter table p:hover {
  background-color: #e1edfb;
}

.portfolio-content {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.main-videocase {
  margin-bottom: 1.0416vw;
  margin-left: 1vw;
}

.main-videocase .videoCase-width {
  max-width: 64.5vw;
}

.main-videocase .videoCase {
  height: 36vw;
}

.little-videocase {
  margin-bottom: 1.0416vw;
  margin-left: 1vw;
}

.little-videocase .videoCase-width {
  max-width: 31.66vw;
}

.little-videocase .videoCase {
  height: 36vw;
}
.portfolio-margin {
  height: 5.625vw;
}

.order-type-button-hover {
  width: 100%;
}

.portfolio-content{
  margin-bottom: 3.306733vw;
}

@media screen and (max-width: 850px) {

  .little-videocase .videoCase-width {
    width: 93.7vw;
    max-width: 100vw;
  }

  .little-videocase .videoCase {
    height: 55vw;
  }

  .main-videocase .videoCase-width {
    width: 93.7vw;
    max-width: 100vw;
  }

  .main-videocase .videoCase {
    height: 100vw;
  }

  .portfolio-head {
    background-image: url("../public/portfolio-mobile-back.jpg");
    background-size: cover;
    background-position: center;
  }

  .portfolio-head h1 {
    margin-top: 10.9375vw;
    font-size: 10.9375vw;
    color: white;
  }

  .portfolio-head #works-amount {
    font-size: 9px;
    color: white;
  }
  .portfolio-head .order-type-button p {
    font-size: 2.5vw;
    line-height: 6.25vw;
    padding: 0 3.125vw;
    color: white;
  }

  .portfolio-head .order-type-button {
    height: 7.1vw;
    border: white solid 1px;
    margin: 1.6vw 1.6vw 0 0;
    background: rgba(255, 255, 255, 0.23);
  }

  .portfolio-head .checked {
    background-color: white;
    color: white;
    border: white 2px solid;
  }

  .portfolio-head .checked p {
    color: black;
  }

  .filter {
    width: 88%;
  }

  .portfolio-content {
    margin: 0 0 7vw 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main-videocase {
    margin-top: 3.1vw;
    margin-left: 0;
  }

  .little-videocase {
    margin-top: 3.1vw;
    margin-left: 0;
  }

  .portfolio-margin {
    height: 28.128vw;
  }

  .portfolio-content .videoCaseHover {
    pointer-events: none;
  }

  .portfolio-content .hidden-desc{
    display: block;
  }
}
