.portfolio-item-info {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding-top: 3.645vw;
  padding-bottom: 5.7291vw;
  width: 100%;
}

.portfolio-item-description {
  width: 27.65625vw;
  font-size: 1.19vw;
}

.worker {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  margin-bottom: 0.0520vw;
}

.roles table {
  margin: 0;
  width: 29.8vw;
  padding: 0;
}

.role {
  font-weight: bold;
  margin-bottom: 10px;
  width: auto;
  font-size: 0.9375vw;
}

.person {
  width: auto;
  font-size: 0.9375vw;
}

.portfolio-item-photos {
  width: 63.229vw;
  margin-top: 1.3vw;
  margin-bottom: 5.208vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 0.52vw;
  overflow: hidden;
  flex-wrap: wrap;
}
.portfolio-item-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roles {
  margin-left: 38px;
  display: flex;
  flex-direction: row;
  max-width: 530px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
}

@media screen and (max-width: 850px) {
  .portfolio-item-info {
    padding-top: 7.8125vw;
    padding-bottom: 9.375vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .portfolio-item-description {
    width: 80vw;
    
  }
  .roles table {
    width: 76.5vw;
    padding: 0;
  }

  .roles {
    width: 80vw;
    margin: 0;
    justify-content: flex-start;
  }

  .roles tr{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .roles td{
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .worker {
    margin: 0;
    padding: 0;
    width: 100%;
  }


  .portfolio-item-info p {
    font-size: 4.0625vw;
    line-height: normal;
  }

  .portfolio-item-info .role {
    font-size: 4.0625vw;
    margin: 7.8125vw 0 0 0;
    width: 100%;
  }
  .portfolio-item-info .person {
    font-size: 4.0625vw;
    margin: 2.5vw 0 0 0;
    width: 100%;
    color: #CCCCCC;
  }

  .portfolio-item-photos {
    border-radius: 0.9375vw;
    margin: 1.5625vw 0 1.5625vw 0;
    width: 96.875vw;
  }
}
