.input-data {
  height: 2.083vw;
  width: 100%;
  position: relative;
  margin: 28px 0 0 0;
}

.input-data input {
  height: 100%;
  width: 100%;
  border: none;
  border-bottom: 2px solid #707070;
  font-size: 0.78125vw;
  color: black;
  padding-left: 1.6145vw;
}

.input-data input:valid ~ label,
.input-data input:focus ~ label {
  transform: translateY(-1.2vw);
  font-size: 0.677vw;
}

.input-data label {
  position: absolute;
  bottom: 0.52083vw;
  left: 1.6145vw;
  font-size: 0.78125vw;
  color: #cccccc;
  pointer-events: none;
  transition: all 86ms ease;
}

.input-data .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  transform: scale(0);
  transition: 300ms;
}

.input-data .underline-error:before {
  transform: translateY(-1.04166vw);
  font-size: 0.677vw;
  transform: scale(1);
  background: red;
}

.input-data .underline-correct:before {
  transform: translateY(-1.04166vw);
  font-size: 0.677vw;
  transform: scale(1);
  background: greenyellow;
}

.input-fields .error-text {
  margin-top: 1.041vw;
  color: #fe0202;
  font-size: 13px;
  padding-left: 1.40625vw;
}

@media screen and (max-width: 850px) {
  .input-data {
    height: 23px;
    margin-top: 30px;
  }

  .input-data input {
    font-size: 13px;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 7px;
  }

  .input-data label{
      font-size: 13px;
  }

  .input-data input:valid ~ label,
  .input-data input:focus ~ label {
    transform: translateY(-20px);
    font-size: 9px;
  }

  .input-fields .error-text{
      margin-top: 17px;
      font-size: 9px;
  }
}
