.videoCase {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.videoCase img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: scale3d(1, 0, 1);
  transition: all 0.3s ease-out;
  transform-origin: bottom;
  color: transparent;
}

.watchCase {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.showCase {
  padding: 0 0 50px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.showCase * {
  margin: 0;
}

.videocaseContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 300ms;
  overflow: hidden;
  z-index: 999999;
}

.videoCaseHead {
  padding: 50px;
  transform: scale3d(1, 0, 1);
  color: transparent;
  transition: all 0.3s ease-out;
  opacity: 0;
  transform-origin: top;
  text-decoration: none;
}

.videoCaseHead h3 {
  margin-top: 0;
}

.videoCaseHover:hover .videocaseContent {
  background: rgba(0, 0, 0, 0.4);
}

.videoCaseHover:hover .panel {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  color: white;
}

.videoCaseHover:hover .videoCaseHead {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  color: white;
}

.videoCaseHover:hover {
  transform: scale3d(1.01, 1.01, 1.01);
  -webkit-box-shadow: 0px 0px 67px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 67px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 67px -16px rgba(0, 0, 0, 0.75);
}

.date {
  color: #888888;
  font-size: 20px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.description {
  font-size: 20px;
  font-weight: normal;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.videoCaseHead:hover {
  text-decoration: underline #ccc;
}

@media screen and (max-width: 850px) {
  .videoCase {
    border-radius: 3px;
    margin-bottom: 5px;
  }

  .videoCaseHead h3 {
    font-size: 10px;
  }

  .videoCaseHead p {
    font-size: 7px;
    display: none;
  }

  .videoCaseHead {
    padding: 0;
  }

  .watchCase {
    padding: 0;
    font-size: 7px;
  }

  .showCase {
    display: none;
  }

  .showCase p {
    font-size: 7px;
  }

  .videocaseContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .date,
  .description {
    font-size: 13px;
  }

  .name {
    font-size: 17px;
  }
}
