.portfolio-content .showCase, .watchCase {
  padding: 0 0 3.4375vw 3.385vw;
}

.portfolio-content .videoCaseHead{
  padding: 2.6vw 3.385vw 0 3.385vw;
}

.videoCase {
  color: white;
  text-decoration: none;
  margin-bottom: 1.25vw;
  position: relative;
  border-radius: 0.520833vw;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.play-button {
  width: 2.7604vw;
  height: 2.7604vw;
}

.videoCase img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform-origin: bottom;
  color: transparent;
  opacity: 0;
  transition: 0.1s;
}

.watchCase {
  padding: 0 0 2.6vw 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.watchCase p {
  font-size: 0.78125vw;
}

.showCase {
  padding: 0 0 2.6vw 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 0;
}

.case-arrow {
  height: 0.7609375vw;
}

.showCase p {
  font-size: 0.78125vw;
}

.showCase * {
  margin: 0;
}

.videocaseContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 300ms;
  overflow: hidden;
  z-index: 999999;
  transform-origin: left;
  transition: 0.1s;
}

.dark-thing {
  position: absolute;
  border-radius: 150%;

  width: 300%;
  height: 300%;
  left: -250%;
  top: -250%;
  transition: 0.5s ease;
  transform: rotate(-50deg);
}

.videocase-buttons {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -100%;
  transition: 0.5s ease;
  transition-delay: 0.2s;
}

.videoCaseHead {
  padding: 2.6vw 2.5vw 0 2.5vw;
  color: transparent;
  transform-origin: top;
  text-decoration: none;
  opacity: 0;
  transition: 0.1s;
}

.videoCaseHead h3 {
  margin-top: 0;
  font-size: 1.0416vw;
}

.videoCaseHead p {
  font-size: 0.78125vw;
  margin-top: 1.302vw;
  color: lightgray;
}

.videoCaseHover:hover .videocase-buttons {
  top: 0;
}

.videoCaseHover:hover .dark-thing {
  left: -100%;
  top: -100%;
  background: rgba(0, 0, 0, 0.4);
}

.videoCaseHover:hover .videocaseContent {
  transform: scale3d(1, 1, 1);
}

.videoCaseHover:hover .panel {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  color: white;
}

.videoCaseHover:hover .videoCaseHead {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  color: white;
}

.videoCaseHover:hover img {
  transform: scale3d(1.02, 1.02, 1.02);
}

.date {
  color: #888888;
  font-size: 1.0416vw;
  margin-bottom: 1.04166vw;
}

.name {
  font-size: 1.30208vw;
  font-weight: bold;
  border-bottom: 1px solid #888888;
  margin-bottom: 0.86vw;
  line-height: 1.5;
  width: max-content;
}

.description {
  font-size: 1.0416vw;
  font-weight: normal;
  line-height: 2;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 60%;
  border-radius: 10px;
}

.pointer-events-none {
  pointer-events: none;
}

@media screen and (max-width: 850px) {
  .videoCaseHover:hover img {
    transform: scale3d(1, 1, 1);
  }

  .play-button {
    width: 7.8125vw;
    height: 7.8125vw;
  }

  .ReactModal__Content {
    width: 100%;
    border-radius: 0px;
  }

  .dark-thing {
    transition: 0.2s;
    left: -100%;
    top: -100%;
  }

  .videocase-buttons {
    top: 0;
    display: flex;
    width: 87%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .leftColumn .videocase-buttons {
    margin-top: 4.6875vw;
    align-items: flex-start;
  }

  .rightColumn .videocase-buttons {
    margin-top: 4.6875vw;
    align-items: flex-start;
  }

  .videoCaseHead {
    justify-self: flex-start;
  }

  .videoCase {
    border-radius: 0.9375vw;
    margin-bottom: 1.5625vw;
  }

  .videoCaseHead h3 {
    font-size: 3.125vw;
  }

  .videoCaseHead p {
    font-size: 2.1875vw;
    display: none;
  }

  .videoCaseHead {
    padding: 0;
  }

  .videoCaseHead h3 {
    font-size: 3.125vw;
  }

  .videoCaseHead p {
    font-size: 2.1875vw;
  }

  .watchCase {
    padding: 0;
  }

  .watchCase p {
    font-size: 2.1875vw;
    font-weight: 500;
  }

  .showCase {
    display: none;
  }

  .showCase p {
    font-size: 2.1875vw;
    font-weight: 500;
  }

  .videocaseContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .date,
  .description {
    font-size: 13px;
  }

  .name {
    font-size: 17px;
  }
}
