.videoCase {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.videoCase img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform-origin: bottom;
  color: transparent;
  opacity: 0;
  transition: 0.1s;
}

.watchCase {
  padding: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.showCase {
  padding: 0 0 50px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.showCase * {
  margin: 0;
}

.videocaseContent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 300ms;
  overflow: hidden;
  z-index: 999999;
  transform-origin: left;
  transition: 0.1s;
}

.dark-thing{
  position: absolute;
  border-radius: 150%;
  
  width: 300%;
  height: 300%;
  left: -250%;
  top: -250%;
  transition: 0.5s ease;
  transform: rotate(-50deg);
}

.videocase-buttons{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -100%;
  transition: 0.5s ease;
  transition-delay: 0.2s;
}

.videoCaseHead {
  padding: 50px;
  color: transparent;
  transform-origin: top;
  text-decoration: none;
  opacity: 0;
  transition: 0.1s;
}

.videoCaseHead h3 {
  margin-top: 0;
}

.videoCaseHover:hover .videocase-buttons{
  top: 0;
}

.videoCaseHover:hover .dark-thing{
  left: -100%;
  top: -100%;
  background: rgba(0, 0, 0, 0.4);
}

.videoCaseHover:hover .videocaseContent {
  
  transform: scale3d(1, 1, 1);
}

.videoCaseHover:hover .panel {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  color: white;
}

.videoCaseHover:hover .videoCaseHead {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  color: white;
}

.videoCaseHover:hover {
}

.videoCaseHover:hover img {
  transform: scale3d(1.02, 1.02, 1.02);
}

.date {
  color: #888888;
  font-size: 20px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
}

.description {
  font-size: 20px;
  font-weight: normal;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  width: 60%;
  border-radius: 10px;
}

.pointer-events-none {
  pointer-events: none;
}


@media screen and (max-width: 850px) {
  .ReactModal__Content {
    width: 100%;
    border-radius: 0px;
  }

  .videocase-buttons{
    display: flex;
    width: 87%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .leftColumn .videocase-buttons{
    margin-top: 3vw;
    align-items: flex-start;
  }

  .rightColumn .videocase-buttons{
    margin-top: 3vw;
    align-items: flex-start;
  }

  .videoCaseHead{
    justify-self: flex-start;
  }

  .videoCase {
    border-radius: 3px;
    margin-bottom: 5px;
  }

  .videoCaseHead h3 {
    font-size: 10px;
  }

  .videoCaseHead p {
    font-size: 7px;
    display: none;
  }

  .videoCaseHead {
    padding: 0;
  }

  .watchCase {
    padding: 0;
    font-size: 7px;
  }

  .showCase {
    display: none;
  }

  .showCase p {
    font-size: 7px;
  }

  .videocaseContent {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .date,
  .description {
    font-size: 13px;
  }

  .name {
    font-size: 17px;
  }
}
